.input-box {
  float: left;
  padding-right: 2em;
}

.box {
  position: relative;
  width: 100%;
}

.input {
  position: relative;
  float:left;
  width: 100%;
  padding-bottom: 2em;
}

.display {
  position: relative;
  float:left;
  top: 0em; 
  width: 100%;
}

.display-area {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  float: left;
  padding-right: 2em;
  z-index: 0;
}

.statistics {
  float: left;
  border-style: solid;
  border-width: .1em;
  border-color: black;
  width: 300px;
}

.stats-form {
  padding: .5em;
}

.triangle {
  height: 0;
  width: 0;
  border-right-style: solid;
  border-right-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: yellow;
}

.square {
  background: red;
}

.rectangle {
  background: green;
}

.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: purple;
}

.shape {
  position: absolute;
}

output {
  text-align: right;
}